name: CI of the scripts themselves

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: pre-commit hooks
        run: env SKIP=test make pre-commit
      - name: tests
        run: make test
